.slider {
  position: relative;
  width: 100%;
  height: 666px;
  overflow: hidden;

  &__image {
    position: absolute;
    height: auto;
    top: 0;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__text-content {
    position: absolute;
    top: 10%;
    left: 13%;
    width: 100%;
    text-align: left;
    width: 780px;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 400;
  }

  &__footer {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(90, 90, 90, 0.35);
  }
}
